.bg-testimonials {
    background: url(../img/testimonials-bg.png);
    background-repeat: no-repeat;
}

.card-body a {
    text-decoration: none;
}

.testimonials img {
    height: 100px;
}

.card-img-top {
    height: 100px;
}