.top-header .row {
    min-height: 60px;
    background-color: #003E40;
    color: white;
}

.bottom-header .row {
    min-height: 70px;
}

.bottom-header span a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.bottom-header span button {
    color: black;
}

.top-header a {
    text-decoration: none;
    color: white;
}